nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: #222;
  color: white;
}

nav h2 {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

main {
  padding: 40px;
  min-height: 70vh;
}

footer {
  padding: 20px;

  background-color: #222;
  color: white;

  text-align: center;
}